html, body{
    height:100%;
    margin:0;
    padding:0;
    background-color: gray;
}

h1 {
  font-size: 128px;
  text-align: center;
  color: white;
  background-color: red;
  font-family: 'Trebuchet MS';
}
h2 {
  font-size: 50px;
  text-align: center;
  color: black;
  font-family: sans-serif;
}
h5 {
  font-size: 128px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  background-color: red;
}
p {
  font-family: sans-serif;
  color: black;
  font-size: 35px;
}
h3 {
  font-size: 45px;
  margin-top: 60px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: 70%;
  margin-bottom: 20px;
}

.card .card-image{
  display: block;
  width:300px;
  height:200px;
}

.card-image:hover{
  background: radial-gradient(red);
}
.subscriptions{
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  text-align: center;
  gap: 2rem;
  flex:1 1 300px;
  border:solid 10px black;
  padding:1rem;
  border-radius: 10px;
}
.projects{
    background-color: grey;
}
.projects:hover{
    background: radial-gradient(red ,red);
}